@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
    font-family: "Roboto Flex", sans-serif;
    font-size: 28px;
    color: #E7ECEF;
}
nav a:hover{
  color: #6096BA;
}

nav img{
    width: 50px;
    height: 50px;
}

body{
    background-color: #12003B;
    color: white;
}

h1{
    font-family: "Roboto Flex", sans-serif;
    font-size: 40px;
    color: #E3D7FF;
}

h2,h3{
    font-family: "Inter", sans-serif;
    font-style: italic;
    color: #A3CEF1;
}
h2{
    font-size: 36px;
    text-align: center;
    align-items: center;
}
hr{
    color: #A3CEF1;
}

div.galeria {
    margin: 5px;
    border: 4px solid #995FA3;
    float: left;
    transition: 0.8;
  }
  
  div.galeria:hover {
    border: 4px solid #E7ECEF;

  }
  
  div.galeria img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .icon{
    background-color: #6096BA;
    border-radius: 50%;
    border: solid 2px #995FA3;
  }
  
div.contat{
    margin: 5px;
    align-items: center;
    justify-content: space-around;
  }
  p {
    font-size: 38px;
    font-family: "Kaushan Script", serif;
    color: #E7ECEF;
    text-align: justify;
    font-weight: bolder;
  }
  #perfil{
    border-radius: 50%;
    border: #995FA3;
    width: 400px;
    height: 400px;
  }
  div#apres{
    border: #995FA3;
    width: 60%;
    height: 40%;
    margin-left: auto;
    

  }